<div class="col-sm-3 p-0 bg-light border-end">
  <%# 上部分 %>
  <div class="my-account row border-bottom m-0 px-2 py-3">
    <div id="current-account" data-my-id="<%= current_account.id %>">
      <%= link_to profile_path(current_account.nickname) do %>
        <%= image_for current_account, "small-round" %>
        <span class="fw-bold"><%= current_account.nickname %></span>
      <% end %>
    </div>
  </div>

  <%# タブ %>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">
        Profile
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="matching-tab" data-bs-toggle="tab" data-bs-target="#matching" type="button" role="tab" aria-controls="matching" aria-selected="false">
        Matching <span class="text-danger"><%= @new_friends_ids.count if @new_friends_ids.any? %></span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="message-tab" data-bs-toggle="tab" data-bs-target="#message" type="button" role="tab" aria-controls="message" aria-selected="false">
        Message <span class="text-danger"><%= @unread_messages.count if @unread_messages.any? %></span>
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">

    <%# プロファイル %>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
      <%= render 'profile' %>
    </div>

    <%# マッチング一覧 %>
    <div class="tab-pane fade" id="matching" role="tabpanel" aria-labelledby="matching-tab">
      <%= render 'matching_list' %>
    </div>

    <%# メッセージ %>
    <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">
      <%= render 'message_list' %>
    </div>

  </div>
</div>
