<div class="col-sm-3 p-0 bg-light border-end">
  <%# 上部分 %>
  <div class="my-account row border-bottom m-0 px-2 py-3">
    <div class="">
      <%= link_to profile_path(current_account.nickname) do %>
        <%= display_image current_account, 40 %>
        <span class="fw-bold"><%= current_account.nickname %></span>
      <% end %>
    </div>
  </div>

  <%# タブ %>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="matching-tab" data-bs-toggle="tab" data-bs-target="#matching" type="button" role="tab" aria-controls="matching" aria-selected="true">Matching</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="message-tab" data-bs-toggle="tab" data-bs-target="#message" type="button" role="tab" aria-controls="message" aria-selected="false">Message</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <%# マッチング一覧 %>
    <div class="tab-pane fade show active" id="matching" role="tabpanel" aria-labelledby="home-tab">
      <%= render 'matching_list' %>
    </div>

    <%# メッセージ %>
    <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="profile-tab">
      <%= render 'message_list' %>
    </div>
  </div>
</div>
