
<% @matchers.each do |m| %>
  <%= link_to convo_path(m.id), method: :post, remote: true do %>
    <div class="row message_item m-0" data-account-id="<%= m.id %>" data-room-id="<%= find_room m %>">
      <div class="recieved_message p-3">
        <div class="d-flex align-items-center">
          <%= image_for m, "small-round" %>
          <div class="message-from">
            <span class="d-block"><%= m.nickname %></span>
            <span class="d-block text-secondary"><%= m.messages.any? ? last_message(m) : "no messages yet" %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
