<!DOCTYPE html>
<html>
  <head>
    <title>Jinderr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="h-100">
        <div class="page-wrapper d-flex flex-row h-100 w-100">

          <%#= render 'layouts/sidebar' %>

            <%= yield %>
        </div>
    </main>
  </body>
</html>
