<div class="text-center">
<%= link_to "Go Browsing!", browse_path, class: "btn btn-primary btn-lg d-inline-block" %>
</div>

<%= render 'profile' %>

<%= render 'likes' %>

<%= render 'matchers' %>

<%= render 'dislike' %>
